@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#top-bar{ 
    display: flex;
    align-items: center;
    height:80px;
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
     z-index: 10;  
    position: fixed;
    top: 0;
    left: 0;
    
}
#siteName a{
    text-decoration: none;
    color: black;
    margin-left: 90px;
}
#leftsec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
}
#shop{
    font-size: 36px;
    font-weight: 900;
}
#lane{
    font-size: 36px;
}
nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
}
#searchwrapper{
    display: flex;
    margin-left: 30px;
    width:25%;
    position:relative;
    margin-right: 150px;
}
#searchwrapper button{
    border:none;
    position: absolute; 
    left:13px;
    top:10px
}
#searchwrapper > i {
    color: #999;
    font-size: 18px ;
    transform: translateY(-50%); 
    display:flex;
    align-items: center;

}
#searchbox {
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
    height:37px
}
#rightSec{
    display: flex;
    width:10%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
#userImg{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    margin-left: 30px;
}
#cart{
color:black;
font-size: 18px;
}
#miniCart{
    position:absolute;
    top:16px;
    right:173px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    
}
.slick-slide {
    width: 100%;
    margin: 5px;
    overflow: hidden;
}

.slick-dots {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    display: inline-block;
    font-size: 0px;
    color: #ccc;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.slick-active button {
    background-color: #aaa;
}
.slider{
    overflow: hidden;
}
#carousal{
    margin-top: 100px;
    overflow: hidden;
    padding: 0px 100px;
    box-sizing: border-box;

}
#cloth_container,#accessory_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#item_container{
    padding-top:96px
}
#sec_container h2{
    margin-left: 130px;
    box-sizing: border-box;
    font-weight: 600 !important
}
.card{
    display:inline-grid;
    grid-template-columns: auto;
    width:15%;
    height:450px;
    margin:30px 10px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    
}
.card:hover{
    box-shadow:0 2px 10px rgb(0 0 0 / 70%);
}

.text_container h3{
    text-align: left;
    font-size: 17px;
    font-weight: 800;
    /* letter-spacing: 0.5px; */
    color: rgb(27, 25, 25);
}
.text_container h4{
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    color: rgb(110, 110, 110); 
    font-weight: 600;
    opacity: 0.8;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}
.text_container span{
    font-size: 15px;
    font-weight: 600;
    color: #009688;
}

.text_container{
    padding-left:15px;
}
img{
    width:100%;
    height:100%
}
#edyoda-logo{
    width: 128px;
    height:60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    }

#footer{
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 4% 8%;
}
#footer p{
text-transform: uppercase;
font-weight: 600;
font-size: 16px;
color: white;
opacity: 0.9;
letter-spacing: 1px;
display: block;
margin-bottom: 30px;
}
#footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    font-size: 14px;
    opacity: 0.8;  
    line-height: 1px;
}


@media screen and (max-width:480px) {
    #cloth_container,#accessory_container{
        display: inline-block;
        margin-left:10px;
    }
    .card{
        display:inline-grid;
        width:45%;
        grid-template-columns: auto;
        height:362px;
        margin:30px 5px;
        background-color: #fff; 
    }
    #cloth_container h2,#accessory_container h2{
        margin-left: 5px;
  }

.text_container h3{
    text-align: left;
    font-size: 14px;
    }
.text_container h4{
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    }
.text_container span{
    font-size: 13px;
    
}

.text_container{
    padding-left:5px;
}

#edyoda-logo{
    width: 60px;
    height:30px;
        }

#footer{
    display: flex;
    flex-direction: column;
}
#footer p{

font-size: 14px;

}
#footer a{
   
    font-size: 12px;
    
}
#sec_container h2{
margin-left: 10px;
font-size: 16px;
}
#carousal{
    margin-top: 70px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;

}
.slick-slide {
    width: 100%;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
    height:100px;
}
#item_container {
    padding-top: 0px;
}
#top-bar{ 
    display: flex; 
    align-items: center;
    height:80px;
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
     z-index: 10;  
    position: fixed;
    top: 0;
    left: 0;
    
}
#siteName a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
#leftsec{
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    width:50%;
}
#shop{
    font-size: 24px;
   
}
#lane{
    font-size: 24px;
}
nav a{
   
    display: none;
}
#searchwrapper{
    
    display: none;
}


#rightSec{
    display: flex;
    width:40%;
    justify-content: flex-end;
    
}
#userImg{
    width: 40px;
    height: 40px;
   
}
#cart{
color:black;
font-size: 18px;
}
#miniCart{
    position:absolute;
    top:16px;
    right:91px;
       
}
   }




    
