@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#top-bar{ 
    display: flex;
    align-items: center;
    height:80px;
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
     z-index: 10;  
    position: fixed;
    top: 0;
    left: 0;
    
}
#siteName a{
    text-decoration: none;
    color: black;
    margin-left: 90px;
}
#leftsec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
}
#shop{
    font-size: 36px;
    font-weight: 900;
}
#lane{
    font-size: 36px;
}
nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
}
#searchwrapper{
    display: flex;
    margin-left: 30px;
    width:25%;
    position:relative;
    margin-right: 150px;
}
#searchwrapper button{
    border:none;
    position: absolute; 
    left:13px;
    top:10px
}
#searchwrapper > i {
    color: #999;
    font-size: 18px ;
    transform: translateY(-50%); 
    display:flex;
    align-items: center;

}
#searchbox {
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
    height:37px
}
#rightSec{
    display: flex;
    width:10%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
#userImg{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    margin-left: 30px;
}
#cart{
color:black;
font-size: 18px;
}
#miniCart{
    position:absolute;
    top:16px;
    right:173px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    
}
#edyoda-logo{
    width: 128px;
    height:60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    }
    #footer{
        width: 100%;
        background-color: #1c1b1e;
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        padding: 4% 8%;
    }
    #footer p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 30px;
    }
    #footer a{
        text-decoration: none;
        color: white;
        display: block;
        margin-top: 12px;
        letter-spacing: 1px;
        font-size: 14px;
        opacity: 0.8;  
        line-height: 1px;
    }
    main{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        
    }
    #confirm-container img{
        width:150px;
        background-color: white;
            }
    #confirm-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        line-height: 2px;
    }
    #para{
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        font-weight: 600;
           }
    #order-status{
        font-size: 36px;
        font-weight: 800;
    }
    @media screen and (max-width:480px) {
        #edyoda-logo{
            width: 60px;
            height:30px;
            right:74px
                }
        
        #footer{
            display: flex;
            flex-direction: column;
        }
        #footer p{
        
        font-size: 14px;
        
        }
        #footer a{
           
            font-size: 12px;
            
        }
        #sec_container h2{
        margin-left: 10px;
        font-size: 16px;
        }
        
        #top-bar{ 
            display: flex; 
            align-items: center;
            height:80px;
            width: 100%;
            box-shadow: 0 2px 5px #ccc;
            background-color: white;
             z-index: 10;  
            position: fixed;
            top: 0;
            left: 0;
            
        }
        #siteName a{
            text-decoration: none;
            color: black;
            margin-left: 20px;
        }
        #leftsec{
            display: inline-block;
            justify-content: flex-start;
            align-items: center;
            width:50%;
        }
        #shop{
            font-size: 24px;
           
        }
        #lane{
            font-size: 24px;
        }
        nav a{
           
            display: none;
        }
        #searchwrapper{
            
            display: none;
        }
        
        
        #rightSec{
            display: flex;
            width:30%;
            justify-content: flex-end;
            
        }
        #userImg{
            width: 40px;
            height: 40px;
           
        }
        #cart{
        color:black;
        font-size: 18px;
        }
        #miniCart{
            position:absolute;
            top:16px;
            right:125px;
               
        }
        main{
            margin-top: 100px;
                        
        }
       
     #para{
            color: rgba(0, 0, 0, 0.6);
            font-size: 13px;
            font-weight: 600;
               }
    #order-status{
            font-size: 20px;
            font-weight: 800;
        }
    }